@font-face {
    font-family: 'Soleto';
    src: url('Soleto-Regular.eot');
    src: local('Soleto'), local('Soleto-Regular'),
    url('Soleto-Regular.eot?#iefix') format('embedded-opentype'),
    url('Soleto-Regular.woff2') format('woff2'),
    url('Soleto-Regular.woff') format('woff'),
    url('Soleto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Soleto';
    src: url('Soleto-Medium.eot');
    src: local('Soleto Medium'), local('Soleto-Medium'),
    url('Soleto-Medium.eot?#iefix') format('embedded-opentype'),
    url('Soleto-Medium.woff2') format('woff2'),
    url('Soleto-Medium.woff') format('woff'),
    url('Soleto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
