.footer-content {
  margin: 0 auto;
  max-width: $content-max-width;
  width: calc(100vw - 48px);
}

.screen--sm .footer-content {
  max-width: $content-max-width-tablet;
  width: $tablet-width-full;
}
