@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: $value !important;
    svg {
      fill: $value !important;
    }
  }
}

.text-gradient,
.text-gradient span {
  background: var(--gradient-accent-v);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  text-shadow: 0 0 transparent;
}
.h1, h1 {
  font-size: $h1-font-size;
  line-height: 1.14;
}
.h2, h2 {
  font-size: $h2-font-size;
  line-height: 1.16;
}
.h3, h3 {
  font-size: $h3-font-size;
  line-height: 1.2;
}
.title {
  font-size: $font-size-base;
  line-height: 1.375;
  font-weight: 500;
  letter-spacing: 0.01em;
}

.text-default {
  color: var(--text-color) !important;
}
.text-body {
  font-size: $font-size-base;
  line-height: 1.375;
}
.text-xs {
  font-size: $font-size-xs;
}
.text-sm {
  font-size: $font-size-sm;
  line-height: 1.25;
}
.text-lg {
  font-size: $font-size-lg;
}
.text-bold {
  font-weight: 500;
}
.text-link {
  color: var(--link-color);
  cursor: pointer;
  &:hover:not(.icon) {
    text-decoration: underline;
  }
}
.text-link-no-color {
  @extend .text-link;
  color: var(--text-color);
}
.text-muted {
  color: var(--caption-color);
}
.caption,
.caption .pi {
  font-size: $font-size-sm;
  line-height: 1.25;
  color: var(--caption-color);
}
.caption-bold {
  @extend .caption;
  font-weight: 500;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.clickable:not([disabled]) {
  cursor: pointer;
}

.screen--xs {
  .text-body {
    font-size: $font-size-sm;
    line-height: 1.25;
  }
  .h3, h3 {
    font-size: $h3-font-size-mobile;
    line-height: 1.2;
  }
  .title {
    font-size: $title-font-size-mobile;
    line-height: 1.375;
    font-weight: 500;
    letter-spacing: 0.01em;
  }
}
