// app global css in SCSS form
@import "./fonts/fonts.css";
@import "rebase";
@import "utils";
@import "layout";
@import "placeholder";
@import "sizing";
@import "typo";
@import "buttons";
@import "overlay";
@import "table";
@import "card";
@import "scrollbar";
@import "form";
@import "date";

html {
  font-family: $font-family-base;
}

body, body.body--dark  {
  background: var(--page-background-color) !important;
  color: var(--text-color);
}

#q-app {
  min-height: 100vh;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}
.screen--xs .content, .screen--xs footer {
  padding-left: 0;
  padding-right: 0;
  width: calc(100vw - 2 * #{$content-px-mobile});
}

.no-margin {
  margin: 0;
}
