header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  backdrop-filter: blur(160px);

  .header-content {
    height: $header-height;
    margin: 0 auto;
    overflow: visible;
    max-width: $content-max-width;
    width: calc(100vw - 48px);
  }
}
.screen-sm .header-content {
  max-width: $content-max-width-tablet;
  width: $tablet-width-full;
}
.screen-xs .header-content {
  width: $mobile-width-full;
}
